<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand mx-3" href="/">Guia Press</a>
    <ul class="navbar-nav me-auto">
        <li class="navbar-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>