<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <div class="container">
                <div class="card my-3">
                    <div class="card-header">
                        <h1>Faça sua pergunta</h1>
                    </div>
                    <div class="card-body">
                        <form action="/salvarpergunta" method="POST">
                            <label for="titulo">Título</label>
                            <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Digite o Titulo da sua pergunta.">
                            <label for="descricao">Descrição da Pergunta</label>
                            <textarea class="form-control" name="descricao" id="descricao" placeholder="Digite a sua pergunta"></textarea>
                            <button class="btn btn-primary mt-3">Enviar Pergunta</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>
    <%- include('./partials/footer.ejs')%>